body {
    font-family: Manrope;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 96vh;
    background-color: rgba(32, 38, 50, 255);
}

main {
    height: 400px;
    width: 600px;
    background-color: rgba(49, 59, 71, 255);
    border-radius: 30px;
}

.title {
    position: relative;
    color: hsl(150, 100%, 66%);
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 15px;
    top: 40px;
    left:250px;
    display:inline;
}

content{
    position:relative;
    color:white;
    font-size:28px;
    font-weight:800;
    text-align:center;
    margin-top:100px;
    margin-left:50px;
    margin-right:50px;
    display:flex;
    align-content:center;
    white-space:normal;
}

.imagine {
    position:relative;
    left:80px;
    top:50px;
}

.button {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    border:none;
    top:790px;
    right:880px;
}

.button:hover {
    box-shadow: 0px 0px 50px 5px hsl(150, 100%, 66%);
}